<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>L'appétit Nhóm Sharks</title>
    <link rel="shortcut icon" type="image/ico" href="~/Content/images/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/login_overlay.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/style6.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/css/shop.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css" type="text/css" media="all">
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

</head>

<body>
    <div class="banner-top container-fluid" id="home">
        <!-- header -->
        <header>
            <div class="row">
                <div class="col-md-3 top-info text-left mt-lg-4">
                    <h6>Tư Vấn Hỗ Trợ</h6>
                    <ul>
                        <li>
                            <i class="fas fa-phone"></i> Call
                        </li>
                        <li class="number-phone mt-3">0988888888</li>
                    </ul>
                </div>
                <div class="col-md-6 logo-w3layouts text-center">
                    <h1 class="logo-w3layouts">
                        <a class="navbar-brand" href="~/Home/Index">
                            l'appétit
                        </a>
                    </h1>
                </div>

                <div class="col-md-3 top-info-cart text-right mt-lg-4">
                    <ul class="cart-inner-info">
                        @Html.Action("GioHangPartial", "GioHang")
                        @{
                            if (Session["isLogin"] != "T")
                            {
                                <li class="button-log">
                                    <a class="btn-open" href="~/Home/Login">
                                        <span class="fa fa-user" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li class="button-log">
                                    <a class="btn-open" href="~/Home/Login">
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li><i aria-hidden="true"></i>Welcome, @Session["username"]</li>
                                <li class="button-log">
                                    <i class="fas fa-info"></i>
                                    @Html.ActionLink("Xem Thông Tin", "EditInfo", new { id = Session["userid"] })
                                </li>
                                <li class="button-log">
                                    <i class="fas fa-info"></i>
                                    @Html.ActionLink("Đơn hàng", "ViewOrder")
                                </li>

                                <li class="button-log">
                                    <i class="fas fa-sign-out-alt"></i>
                                    @Html.ActionLink("Đăng Xuất", "Signout", "Home")
                                </li>
                            }
                        }
                    </ul>
                    <!---->
                    <!--<div class="overlay-login text-left">
                        <button type="button" class="overlay-close1">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>

                        <div class="wrap">
                            <h5 class="text-center mb-4">Đăng Nhập Ngay</h5>
                            <div class="login p-5 bg-dark mx-auto mw-100">
                                <form action="~/Home/Login" method="post">
                                    <div class="form-group">
                                        <label class="mb-2">Tên Tài Khoản</label>
                                        <input type="text" name="username" class="form-control" placeholder="Username" required="" />
                                        <small id="emailHelp" class="form-text text-muted">Thông tin của bạn sẽ không bị lộ.</small>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-2">Mật Khẩu</label>
                                        <input type="password" name="password" class="form-control" placeholder="Password" required="" />
                                    </div>
                                    <div class="form-check mb-2">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary submit mb-4">Đăng Nhập</button>
                                </form>
                            </div>
                        </div>
                    </div>-->
                    <!---->
                </div>
            </div>

            <!--Search-->
            @*<div class="search">
                    <div class="mobile-nav-button">
                        <button id="trigger-overlay" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <!-- open/close -->
                    <div class="overlay overlay-door">
                        <button type="button" class="overlay-close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <form action="~/Home/Search2?@Request["search"]" method="get" class="d-flex">
                            <input class="form-control" type="search" placeholder="Tìm ở đây..." required="">
                            <button type="submit" class="btn btn-primary submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <!-- open/close -->
                </div>*@
            <label class="top-log mx-auto"></label>
            <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-mega mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link ml-lg-0" href="~/Home/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/About">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="~/Home/Shop" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Shop
                            </a>
                            <ul class="dropdown-menu mega-menu ">
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 media-list span4 text-left">
                                            <h5 class="tittle-w3layouts-sub-nav">Đa dạng bánh</h5>
                                            <div class="media-mini mt-3">
                                                <a href="~/Home/Cake">
                                                    <img src="~/Content/images/g1.jpg" class="img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 media-list span4 text-left">
                                            <h5 class="tittle-w3layouts-sub-nav">Đa dạng nước</h5>
                                            <div class="media-mini mt-3">
                                                <a href="~/Home/Drink">
                                                    <img src="~/Content/images/g5.jpg" class="img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 media-list span4 text-left">
                                            <h5 class="tittle-w3layouts-sub-nav">Các Combo</h5>
                                            <div class="media-mini mt-3">
                                                <a href="~/Home/Combo">
                                                    <img src="~/Content/images/g6.jpg" class="img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Contact">Contact</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
        <!-- //header -->
        <!-------------------------------------------------------------------------------------------------->

    </div>
    <!--//banner-sec-->
    @RenderBody();

    <!------------------------------------>
    <!--footer -->
    <footer class="py-lg-5 py-3">
        <div class="container-fluid px-lg-5 px-3">
            <div class="row footer-top-w3layouts">
                <div class="col-lg-3 footer-grid-w3ls">
                    <div class="footer-title">
                        <h3>Về Chúng Tôi</h3>
                    </div>
                    <div class="footer-text">
                        <p>
                            Kỳ vọng của chúng tôi ở đây không chỉ đơn giản là một cửa hàng bán hàng bình thường.
                            Chúng tôi có một tầm nhìn lớn hơn - Cho nhiều người biết tới nhất có thể.
                        </p>
                        <ul class="footer-social text-left mt-lg-4 mt-3">

                            <li class="mx-2">
                                <a href="https://www.facebook.com/ngoxuanhai1999">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-google-plus-g"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fas fa-rss"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-vk"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 footer-grid-w3ls">
                    <div class="footer-title">
                        <h3>Liên Lạc</h3>
                    </div>
                    <div class="contact-info">
                        <h4>Địa Chỉ : 280 An Dương Vương, Phường 4, Quận 5, Thành Phố Hồ Chí Minh</h4>
                        <p>Đại học Sư Phạm TP.HCM</p>
                        <div class="phone">
                            <h4>Số liên hệ :</h4>
                            <p>Phone : 0988888888</p>
                            <p>
                                Email :
                                <a href="mailto:admin@gmail.com">admin@gmail.com </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 footer-grid-w3ls">
                    <div class="footer-title">
                        <h3>Truy Cập Nhanh</h3>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="~/Home/Index">Home</a>
                        </li>
                        <li>
                            <a href="~/Home/About">About</a>
                        </li>
                        <li>
                            <a href="~/Shared/Error">Error</a>
                        </li>
                        <li>
                            <a href="~/Home/Shop">Shop</a>
                        </li>
                        <li>
                            <a href="~/Home/Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 footer-grid-w3ls">
                    <div class="footer-title">
                        <h3>Đăng Nhập Để Đặt Hàng</h3>
                    </div>
                    <div class="footer-text">
                        <p>Hãy nhập Email của bạn vào ô để nhận thông tin hấp dẫn nhất của cửa hàng</p>
                        <form action="#" method="post">
                            <input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
                            <button class="btn1">
                                <i class="far fa-envelope" aria-hidden="true"></i>
                            </button>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!--jQuery-->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- newsletter modal -->
    <!-- Modal -->
    <!-- Modal -->

    <script>
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>
    <!-- // modal -->
    <!--search jQuery-->
    <script src="~/Content/js/modernizr-2.6.2.min.js"></script>
    <script src="~/Content/js/classie-search.js"></script>
    <script src="~/Content/js/demo1-search.js"></script>
    <!--//search jQuery-->
    <!-- cart-js -->
    <script src="~/Content/js/minicart.js"></script>
    <script>
        googles.render();

        googles.cart.on('googles_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <script>
        $(document).ready(function () {
            $(".button-log a").click(function () {
                $(".overlay-login").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });
        });
        $('.overlay-close1').on('click', function () {
            $(".overlay-login").fadeToggle(200);
            $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
            open = false;
        });
    </script>
    <!-- carousel -->
    <!-- Count-down -->
    <script src="~/Content/js/simplyCountdown.js"></script>
    <link href="~/Content/css/simplyCountdown.css" rel='stylesheet' type='text/css' />
    <script>
        var d = new Date();
        simplyCountdown('simply-countdown-custom', {
            year: d.getFullYear(),
            month: d.getMonth() + 2,
            day: 30
        });
    </script>
    <!--// Count-down -->
    <script src="~/Content/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>

    <!-- //end-smooth-scrolling -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <script src="~Content/js/move-top.js"></script>
    <script src="~Content/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->

    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <!-- js file -->
</body>

</html>